{% extends 'layout/base.html'%}

{% block content %}
    {% include 'partials/navbar.html'%}
        <br>
        <div style="width: 20%; min-height: 80vh; margin: auto; text-align: left;">
            <form action="" method="post" >
                {% load crispy_forms_filters %} 
                {% load crispy_forms_tags %}    
                {% csrf_token %}
                <p>Ingreso</p>
                <label for="">USERNAME</label>
                {{form.username}}
                <label for="">PASSWORD</label>
                
                {{form.password}}
                
                <button class="button is-success-ligth" type="submit">Ingresar</button>
            </form>
        </div>
   

    {% include 'partials/footer.html'%}
{% endblock %}